body
{
    color : #D01215;
    background-color: blanchedalmond;
    font-family: monospace;
    font-size: 15px;
    text-align: center;
    margin: 1;
    padding: 1;
}
#Kopf
{
    text-align: left;
    background: rgba(255, 200, 0, 0.662);
    color: black;
    font-weight: bold;
    margin: 0;
    padding: 0.1cm;
    box-shadow: 1px 2px 0px 4px #313131;
}
#Kopf #tagkopf
{
    padding: 1,50;
    font-weight: lighter;
    font-size: 0.18cm;
}
#container 
{
    width: 45%;
    padding: 1cm;
    text-align: right;
    border: 5px solid rgb(23, 40, 228);
    margin: 0 auto;
}
#container h1
{
    font-size: 20px;
}
#post
{
    padding: 0
}